@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Person

@{
    ViewData["Title"] = @Model.Name;
}


<h3>@Model.Name</h3>
@{
    var age = 2022 - Model.Birth;
}
@if (Model.Birth != null)
{
    <p>@Model.Name was born in @Model.Birth. (Age: @age)</p>
}
else {
    <br />
}

@if (Model.StarredMovies.Count == 1)
{
    <h4>Starred Movie:</h4>
}
else if (Model.StarredMovies.Count > 1)
{
    <h4>Starred Movies:</h4>
}

<p>
    @foreach (var movie in Model.StarredMovies) {
    <text>@movie.Title, </text>
    }
</p>

@if (Model.DirectedMovies.Count == 1)
{
    <h4>Directed Movie:</h4>
}
else if (Model.DirectedMovies.Count > 1)
{
    <h4>Directed Movies</h4>
}

<p>
    @foreach (var movie in Model.DirectedMovies)
    {
        <text>@movie.Title, </text>
    }
</p>