@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Movie

@{
    ViewData["Title"] = Model.Title;
}

<h3>@Model.Title</h3>
<p>Release Year: @Model.Year</p>

<h4>Stars:</h4>
<p>
    <text>@string.Join(", ", @Model.GetStars())</text>
</p>

@if (Model.Directors.Count == 1)
{
    <h4>Director:</h4>
}
else if (Model.Directors.Count > 1){
    <h4>Directors:</h4>
}

<p>
    <text>@string.Join(", ", @Model.GetDirectors())</text>
</p>