@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Browse Movies";
}

<h2>Popular Movies</h2>

@{
    long i = 1;
}

<table class="table table-hover">
    <tr>
        <th></th>
        <th>Title</th>
        <th>IMDb Rating</th>
    </tr>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@i.</td>
            <td>@Html.ActionLink(@movie.Title, "Details", "Movies", new { id = movie.Id}, new { @class = "link-dark"}) (@movie.Year)</td>
            <td>@movie.DisplayRating()</td>
        </tr>
        i = i + 1;
    }
</table>